---
import Layout from "../../layouts/Layout.astro";
import SetCookie from "../../utils/SetCookie";
function login() {
  console.log("hola");
  const email = (document.getElementById("email") as HTMLInputElement).value;
  const password = (document.getElementById("password") as HTMLInputElement)
    .value;

  fetch("https://srmacaback.fly.dev/auth/login", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      Origin: "localhost:4321",
    },
    body: JSON.stringify({ email, password }),
  })
    .then((response) => response.json())
    .then((data) => {
      console.log("Success:", data);

      if (data.status === 200) {
        SetCookie("Auth", data.token, 30);
        window.location.href = "/";
        Astro.redirect("/");
      }
    })
    .catch((error) => {
      console.error("Error:", error);
    });
}
---

<Layout title="Inicio de sesion">
  <div
    class="w-screen h-screen flex flex-col items-center justify-center p-10 bg-black"
  >
    <form class="flex flex-col items-center justify-center">
      <div id="response" class="text-red-500 font-bold text-lg py-2"></div>
      <h1 class="text-white text-3xl mb-4">Iniciar sesi칩n</h1>
      <div class="flex flex-col mb-4">
        <label for="email" class="text-white mb-1">Correo Electr칩nico</label>
        <input
          type="text"
          id="email"
          name="email"
          class="p-2 border border-white rounded-md focus:outline-none focus:border-blue-300"
        />
      </div>
      <div class="flex flex-col mb-4">
        <label for="password" class="text-white mb-1">Contrase침a</label>
        <input
          type="password"
          id="password"
          name="password"
          class="p-2 border border-white rounded-md focus:outline-none focus:border-blue-300"
        />
      </div>
      <button
        type="button"
        id="loginButton"
        class="bg-[#526C63] hover:bg-white hover:text-black text-white transition-colors duration-300 ease-in-out delay-75 font-bold py-2 px-4 rounded"
        >Iniciar sesi칩n</button
      >
    </form>
    <a class="text-white" href="/auth/register">
      No tienes una cuenta? Registrate.</a
    >
  </div>
</Layout>

<script>
  import SetCookie from "../../utils/SetCookie";
  document.addEventListener("DOMContentLoaded", (event) => {
    console.log("hola desde el domcontentloaded");
    document
      .getElementById("loginButton")
      .addEventListener("click", loginFunction);
  });

  function loginFunction() {
    console.log("hola desde login function");
    document
      .getElementById("loginButton")
      .addEventListener("click", function () {
        const email = (document.getElementById("email") as HTMLInputElement)
          .value;
        const password = (
          document.getElementById("password") as HTMLInputElement
        ).value;

        fetch("https://srmacaback.fly.dev/auth/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Origin: "https://srmaca.vercel.app/",
          },
          body: JSON.stringify({ email, password }),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log("Success:", data);

            if (data.token) {
              console.log("hola desde 200");
              SetCookie("Auth", data.token, 30);
              window.location.href = "/";
              Astro.redirect("/");
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      });
  }
</script>
