---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Inicio de sesion">
  <div
    class="w-screen h-screen flex flex-col items-center justify-center p-10 bg-black"
  >
    <form class="flex flex-col items-center justify-center">
      <div id="response" class="text-red-500 font-bold text-lg py-2"></div>
      <h1 class="text-white text-3xl mb-4">Iniciar sesión</h1>
      <div class="flex flex-col mb-4">
        <label for="email" class="text-white mb-1">Correo Electrónico</label>
        <input
          type="text"
          id="email"
          name="email"
          class="p-2 border border-white rounded-md focus:outline-none focus:border-blue-300"
        />
      </div>
      <div class="flex flex-col mb-4">
        <label for="password" class="text-white mb-1">Contraseña</label>
        <input
          type="password"
          id="password"
          name="password"
          class="p-2 border border-white rounded-md focus:outline-none focus:border-blue-300"
        />
      </div>
      <button
        type="button"
        id="loginButton"
        class="bg-[#526C63] hover:bg-white hover:text-black text-white transition-colors duration-300 ease-in-out delay-75 font-bold py-2 px-4 rounded"
        >Iniciar sesión</button
      >
    </form>
    <a class="text-white" href="/auth/register">
      No tienes una cuenta? Registrate.</a
    >
  </div>
</Layout>

<script>
 // Obtener referencias a los elementos:
const emailInput = document.getElementById('email'); 
const passInput = document.getElementById('password');
const loginBtn = document.getElementById('loginButton');

// Función manejadora de login
const handleLogin = async () => {

  // Obtener valores de inputs
  const email = (emailInput as HTMLInputElement).value; 
  const password = (passInput as HTMLInputElement).value;

  try {
    // Petición POST fetch    
    const response = await fetch('https://srmacaback.fly.dev/auth/login', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({email, password})
    });
    
    if(response.ok) {
      // Flujo OK 👍

      // Obtener token  
      const {token} = await response.json();

      // Guardar cookie
      document.cookie = `Auth=${token}`;

      // Redirigir a inicio  
      window.location.href = '/';

    } else {
      // Flujo error ❌
      throw new Error('Credenciales inválidas');
    }

  } catch (error) {
    
    // Mostrar error  
    const errorDiv = document.getElementById('response');
    errorDiv.innerText = error.message;

  }

};


// Asignar manejador al botón de login 
loginBtn.addEventListener('click', handleLogin);
</script>