---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="not found">
    <main class="flex flex-col justify-center items-center h-screen w-screen bg-gray-950 text-white">
    <div id="status">
        Verificando...
    </div>

    </main>
</Layout>
        

    <script>
        let token = '';
        let verificationStatus = 'Verificando...';
        let redirectTimeout;

        window.onload = async () => {
        const urlParams = new URLSearchParams(window.location.search);
        token = urlParams.get('token');

        try {
            const response = await fetch(`/auth/verify/${token}`);
            if (!response.ok) {
                const data = await response.json();
                throw new Error(data.error); // Aquí se accede al mensaje de error
            }
        const data = await response.json();
        verificationStatus = data.message; // Aquí se accede al mensaje de éxito

        // Redirige al usuario a la página de inicio después de 5 segundos
        redirectTimeout = setTimeout(() => {
            window.location.href = '/';
        }, 5000);
        } catch (error) {
        console.error(error);
        verificationStatus = error.message; // Aquí se muestra el mensaje de error
        }

        document.getElementById('status').innerText = verificationStatus;
        };
        </script>
    </body>
</html>