---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="not found">
    <main class="flex flex-col justify-center items-center h-screen w-screen bg-gray-950 text-white">
        <div id="status">
            Verificando...
        </div>
    </main>
</Layout>

<script>
window.onload = async () => {
    const urlParams = new URLSearchParams(window.location.search);
    const token = urlParams.get('token');
    console.log("Token ="+token);

    // Verifica si el token es nulo o está vacío
    if (!token) {
        document.getElementById('status').innerText = 'Token inválido';
        return;
    }

    try {
        // Asegúrate de reemplazar 'http://localhost:8080' con la URL de tu backend
        const response = await fetch(`https://srmacaback.fly.dev/auth/verify/${token}`);

        if (!response.ok) {
            const data = await response.json();
            throw new Error(data.error); // Aquí se accede al mensaje de error
        }

        const data = await response.json();
        const verificationStatus = data.message; // Aquí se accede al mensaje de éxito

        // Redirige al usuario a la página de inicio después de 5 segundos
        setTimeout(() => {
            window.location.href = '/';
        }, 5000);
        document.getElementById('status').innerText = verificationStatus;
    } catch (error) {
        console.error(error);
        document.getElementById('status').innerText = error.message; // Aquí se muestra el mensaje de error
    }
};
</script>