---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Confirma tu compra">
  <section
    class="text-white bg-gradient-to-br from-[#526C63] to-black min-h-screen w-screen flex flex-col items-center justify-center"
  >
    <main>
      <div>
        <input
          type="radio"
          id="cash"
          name="payment-method"
          value="cash"
          checked
          onclick="updatePaymentMethod()"
        />
        <label for="cash">Efectivo</label><br />
        <input
          type="radio"
          id="transfer"
          name="payment-method"
          value="transfer"
        />
        <label for="transfer">Transferencia Bancaria</label>
      </div>
      <h1 class="font-bold text-2xl my-6">Pasos para comprar en Sr Maca!</h1>
      <div
        id="bank-details"
        style="max-height: 0; overflow: hidden; transition: max-height 0.8s;"
      >
        <h1>
          Realiza tu deposito a la cuenta: <strong>1001358547</strong>
        </h1>
        <h2>
          Banco: <strong>Ganadero</strong>
        </h2>
        <h2>
          Cuenta: <strong>Caja de Ahorros</strong>
        </h2>
        <h2>
          Nombre: <strong>Nicolás Hernández</strong>
        </h2>
        <h2>
          C.I: <strong>E-10271474</strong>
        </h2>
      </div>
      <h2>
        Cantidad: <strong id="quantity">0</strong>
      </h2>
      <h2>
        Monto: <strong id="price">0 BS</strong>
      </h2>
      <h1 class="font-bold text-2xl my-6">Despues Rellena este formulario!</h1>
      <form class="rounded-md border-white border p-4">
        <div
          id="upload-receipt"
          style="max-height: 0; overflow: hidden; transition: max-height 0.8s;"
        >
          <h2 class="mt-5 font-bold">Sube tu comprobante.</h2>
          <input type="file" id="image" accept="image/*" />
        </div>

        <label for="Glosa" class="leading-7 font-bold text-white">Glosa:</label>
        <input
          type="text"
          id="Glosa"
          name="Glosa"
          class="w-full bg-[#526C63] rounded border bg-opacity-40 border-gray-700 focus:ring-2 focus:ring-white focus:bg-transparent focus:border-white text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
        <h4 class="text-sm mb-5">Especifica Tu Compra!</h4>

        <label class="text-sm mb-5" for="delivery">
          <input
            type="checkbox"
            class="form-checkbox mr-4"
            id="delivery"
            name="delivery"
          />
          <strong class="font-bold text-base">Delivery?</strong> A la direccion con
          la que creaste tu cuenta
        </label>

        <button
          type="submit"
          class="flex mx-auto mt-5 text-white bg-[#526C63] border-0 py-2 px-8 focus:outline-none hover:bg-[#526C63] rounded text-lg"
        >
          Enviar!
        </button>
      </form>
    </main>
  </section>
</Layout>

<script>
  window.onload = function () {
    const totalPrice = localStorage.getItem("totalPrice");
    document.getElementById("price").textContent = `${totalPrice}   Bs.`;
    updatePaymentMethod();

    const selectedQuantity = localStorage.getItem("quantity");
    document.getElementById("quantity").textContent = selectedQuantity;
  };

  function getBase64(file) {
    return new Promise((resolve, reject) => {
      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = () => resolve(reader.result);
      reader.onerror = (error) => reject(error);
    });
  }

  function updatePaymentMethod() {
    const paymentMethod = (
      document.querySelector(
        'input[name="payment-method"]:checked'
      ) as HTMLInputElement
    ).value;
    const bankDetails = document.querySelector("#bank-details");
    const uploadReceipt = document.querySelector("#upload-receipt");

    if (paymentMethod === "transfer") {
      (bankDetails as HTMLElement).style.maxHeight = "500px"; // Cambia esto al valor que necesites
      (uploadReceipt as HTMLElement).style.maxHeight = "500px"; // Cambia esto al valor que necesites
    } else {
      (bankDetails as HTMLElement).style.maxHeight = "0";
      (uploadReceipt as HTMLElement).style.maxHeight = "0";
    }
  }

  async function sendRequest() {
    const payment_method = (
      document.querySelector(
        'input[name="payment-method"]:checked'
      ) as HTMLInputElement
    ).value;
    const product_id = localStorage.getItem("productId");
    const quantity = localStorage.getItem("quantity");
    const totalPrice = localStorage.getItem("totalPrice");
    const glosa = (document.getElementById("Glosa") as HTMLInputElement).value;
    const imageFile = (document.getElementById("image") as HTMLInputElement)
      .files[0];
    const imageBase64 = await getBase64(imageFile);

    const request = {
      payment_method,
      product_id,
      quantity,
      totalPrice,
      glosa,
      img: imageBase64,
    };

    const token = getCookie("Auth");

    function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(";").shift();
    }

    console.log("Token: ", token);

    fetch("http://localhost:8080/voucher/create", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Authorization: "Bearer " + token,
      },
      body: JSON.stringify(request),
    })
      .then((response) => response.json())
      .then((request) => {
        console.log(request);
      })
      .catch((error) => {
        console.error("Error: ", error);
      });
  }

  // Asegúrate de llamar a updatePaymentMethod cuando cambie el método de pago
  document.querySelectorAll('input[name="payment-method"]').forEach((elem) => {
    elem.addEventListener("change", updatePaymentMethod);
  });

  document
    .querySelector('button[type="submit"]')
    .addEventListener("click", function (event) {
      event.preventDefault(); // Evita que el formulario se envíe de la manera predeterminada
      sendRequest();
    });
</script>

<style>
  #bank-details,
  #upload-receipt {
    transition: all 0.5s ease-in-out;
  }
</style>
