---
import Layout from "../layouts/Layout.astro";
---

<Layout title="not found">
  <div
    class="flex flex-col justify-center items-center h-screen w-screen bg-gray-950 text-white"
  >
    <h1 class="text-2xl">ACA NO ESTA LA FUERZA DE LA MACA >:V</h1>

    <img src="/images/logosrmaca.png" alt="maca" class="invert w-36 h-auto" />

    <a href="/">ENCUENTRA TU FUERZA ACA!!</a>
  </div>
</Layout>
