<section class="bg-red-400 text-white h-full">
  <ul>
    <li><a href="">sads</a></li>
    <li><a href="">asda</a></li>
    <li><a href="">asda</a></li>
    <li><a href="">asda</a></li>
  </ul>
</section>
