---
import Cart from "./Cart.astro";
---

<section
  class="flex md:m-0 md:gap-0 md:items-center md:justify-center top-0 fixed w-screen max-w-screen z-40 text-white px-10 py-5 md:px-24 md:py-10 uppercase font-bold font-sans rounded-2xl"
>
  <div class="flex-grow md:flex-grow basis-0 flex items-center">
    <img
      src="/images/logosrmaca.png"
      class="h-6 w-auto md:h-10 invert"
      alt="logo srmaca"
    />
    <span class="capitalize overflow-visible">Sr. Maca</span>
  </div>

  <nav class="hidden xl:block">
    <ul class="flex justify-between gap-10">
      <li class="">
        <a
          class="hover:bg-green-900/70 px-4 py-2 rounded-2xl active:bg-black transition-colors duration-75 ease-linear delay-75"
          href="/">Inicio</a
        >
      </li>
      <li class="group/products relative">
        <span>Productos</span>
        <ul
          class="hidden absolute left-0 pt-2 space-y-2 border-r border-b [&>li]:p-2 shadow-lg border-white rounded-lg text-white group-hover/products:block hover:block transition-all duration-75 ease-in-out delay-75"
        >
          <li
            class="hover:bg-green-900/70 rounded-2xl active:bg-black transition-colors duration-75 ease-linear delay-75"
          >
            <a href="/products/testo-plus" class="">Testo Plus</a>
          </li>
          <li
            class="hover:bg-[#185B69] rounded-2xl active:bg-black transition-colors duration-75 ease-linear delay-75"
          >
            <a href="/products/cartilago" class="">Cartilago</a>
          </li>

          <li
            class="hover:bg-[#7A6121] rounded-2xl active:bg-black transition-colors duration-75 ease-linear delay-75"
          >
            <a href="/products/maca-negra" class="">Maca Negra</a>
          </li>
          <li
            class="hover:bg-green-800 rounded-2xl active:bg-black transition-colors duration-75 ease-linear delay-75"
          >
            <a href="/products/psyllium" class="">Psyllium</a>
          </li>
        </ul>
      </li>
      <li class="">
        <a
          class="hover:bg-green-900/70 px-4 py-2 rounded-2xl active:bg-black transition-colors duration-75 ease-linear delay-75"
          href="/">Servicios</a
        >
      </li>
    </ul>
  </nav>
  <nav class="flex-grow basis-0 hidden xl:block">
    <ul class="flex justify-end gap-10">
      <a class="px-4 py-2" href="/auth/login">Login</a>
      <a class="px-4 py-2 bg-green-800 rounded-3xl" href="/auth/register"
        >Register</a
      >
    </ul>
  </nav>

  <li class="group/products relative xl:hidden">
    <span class="">Productos</span>
    <ul
      class="hidden absolute left-0 pt-2 bg-black/20 space-y-2 border-r border-b [&>li]:p-2 shadow-lg border-white rounded-lg text-white group-hover/products:block hover:block transition-all duration-75 ease-in-out delay-75"
    >
      <li
        class="hover:bg-green-900/70 rounded-2xl active:bg-black transition-colors duration-75 ease-linear delay-75"
      >
        <a href="/products/testo-plus" class="">Testo Plus</a>
      </li>
      <li
        class="hover:bg-[#185B69] rounded-2xl active:bg-black transition-colors duration-75 ease-linear delay-75"
      >
        <a href="/products/cartilago" class="">Cartilago</a>
      </li>

      <li
        class="hover:bg-[#7A6121] rounded-2xl active:bg-black transition-colors duration-75 ease-linear delay-75"
      >
        <a href="/products/maca-negra" class="">Maca Negra</a>
      </li>
      <li
        class="hover:bg-green-800/20 rounded-2xl active:bg-black transition-colors duration-75 ease-linear delay-75"
      >
        <a href="/products/psyllium" class="">Psyllium</a>
      </li>
    </ul>
  </li>
  <main
    id="content"
    class="flex-col justify-center items-center text-center h-screen w-screen hidden fixed xl:hidden"
  >
    <h3 class="p-2">Servicios</h3>
    <h3 class="pb-2">Productos</h3>
    <section class="flex justify-center gap-3 items-center">
      <a
        href="/products/testo-plus"
        class="hover:scale-125 transition-all duration-100 ease-in delay-75 group/testo"
      >
        <img src="/images/tarro.png" class="w-32 h-auto" />
        <span class="group-hover/testo:text-green-900/70">Testo Plus</span>
      </a>
      <a
        href="/products/cartilago"
        class="hover:scale-125 transition-all duration-100 ease-in delay-75 group/cartilago"
      >
        <img src="/images/tarro.png" class="w-32 h-auto" />
        <span class="group-hover/cartilago:text-[#185b69]">Cartilago</span>
      </a>
      <a
        href="/products/maca-negra"
        class="hover:scale-125 transition-all duration-100 ease-in delay-75 group/maca"
      >
        <img src="/images/tarro.png" class="w-32 h-auto" />
        <span class="group-hover/maca:text-[#7A6121]">Maca Negra</span>
      </a>
    </section>
  </main>
</section>
